* {
    padding:0;
    margin:0;
}

html,body {
    width: 100%;
}

/*头部*/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.container::after,.float-left::after,.float-right::after {
    content: "";
    display: table;
    clear: both;
}

.bac-grey {
    height:30px;
    line-height: 30px;
    background-color: #eee;
    color: #999;
    font-size: 12px;
}

.bac-grey a {
    color: #999;
}

/*头部左边*/
.star {
    color: #64a131;
}

.range {
    padding:0 10px;
    margin-right: 5px;
    margin-left: -10px;
}

.range a {
    text-decoration: none;
}

.range:hover {
    background-color: #fff;
}

/*热门城市*/
.pos-father {
    position: relative;
}
.square {
    position: absolute;
    top: 30px;
    left:-10px;
    width: 295px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(175,175,175,0.75);
    overflow: auto;
    display: none;

}

.square ul,li {
    list-style: none;
}

.square li a {
    text-decoration: none;
}



