/*外框*/
.row {
	margin-top: 30px;
}
/*输入框*/

.input-group {
	margin: 10px 0px;
}


/*标题*/

h3 {
	padding: 5px;
	border-bottom: 1px solid #ddd;
}


/*列表*/

li {
	list-style-type: square;
	list-style-position: inside;
	margin: 10px 0;
}


/*强调的内容*/

em {
	color: #c7254e;
	font-style: inherit;
	background-color: #f9f2f4;
}