* {
    padding: 0;
    margin: 0;
}
section {
    background: url("../images/bg.jpg") no-repeat 0 5px;
    width: 965px;
    padding: 50px 20px 0 160px;

}

div::after,section::after {
    display: table;
    content: "";
    clear: both;
}
 ul li {
     list-style-type: none;
     font-size: 12px;
     padding: 3px 6px;
 }

 div,div ul{
     float: left;

 }

div {
    margin-right: 4px;
}

 ul:nth-child(1), ul:nth-child(2) {
     background: url("../images/line.gif") no-repeat right;
     background-size: 1px;
 }
ul:nth-child(3n+1) {
     font-weight: bolder;

 }
div:nth-child(6) ul:nth-child(3) li:nth-child(1) {
    color: red;
}
