.laravel-header {
    background:url("../images/bg.jpg") no-repeat;
    text-align: center;
    padding: 20px 0;
}

.laravel-header h1{
    color: #ffffff;
    padding: 50px 0 50px;
}

.laravel-header div a.btn-default {
    background-color: transparent;
    border:1px solid #f1362f;
    color: #ffffff;
}
.laravel-header div a.btn-default:hover {
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -ms-transition:all 0.8s;
    -o-transition:all 0.8s;
    transition:all 0.8s;
    background-color:#303030 ;
}

/*导航栏*/
.navbar-nav a {
    color: black;
    line-height: 50px;
}
.laravel-navbar .collapse ul.navbar-nav li a:hover {
    color: #ff362f;
}
.laravel-navbar .navbar-header .navbar-toggle {
    float: none;
}

.laravel-navbar .navbar-header {
    text-align: center;
}


@media screen and (min-width: 764px) {


    .laravel-navbar .navbar-collapse ul.navbar-nav li {
        float: none;
        display: inline-block;
    }




    .laravel-navbar .navbar-collapse ul.navbar-nav {
        text-align: center;
        width: 100%;
    }
}

/*内容区*/
.main-left-item {
    background-color: #ffffff;
}

.laravel-main .main-left .main-left-item {
    background-color: #ffffff;
    padding: 35px;
    margin: 30px 0;
}

.main-left .main-left-item .main-left-item-header span {
    display: inline-block;
    padding:20px 0 30px;
    color: grey;
}

.main-left .main-left-item .main-left-item-header span a {
    color: red;
    display: inline-block;
    margin: 0 10px;
}
.main-left .main-left-item .main-left-item-header {
    text-align: center;

}

.main-left .main-left-item .main-left-item-header h4 a{
    color: #0f0f0f;
}
.main-left .main-left-item {
    margin:30px 0;
}
.main-left .main-left-item p {
    margin:30px 0;
}

.left-code {
    width: 100%;
    text-align: center;
}



/*右边*/
.neb {
    padding: 20px 25px 30px;

}

.xiazai {
    padding:20px 30px 25px ;
}

.word {
    padding:20px 30px 20px ;
}

.neb,.xiazai,.word {
    background-color: #ffffff;
    margin: 30px 0;
}

.xiazai .btn-block:hover ,.word .btn-block:hover {
    background-color: #303030;
}

.title {
    border-bottom:1px solid lightgray;
}

.title::after {
    content: "";
    width: 90px;
    height:1px;
    background-color: red;
    display: block;
    margin-bottom: -1px;
    margin-top: 10px;

}
.QQ {

    margin: 15px 0 10px;
}

.btn-margin {
    display: inline-block;
    margin-top: 20px;
}

/*尾部*/
.laravel-footer {
    background-color:#202020 ;
    margin-top: 30px;
    padding:40px 0;

}
.laravel-footer h4 {
    color: #ffffff;
}

.laravel-footer a {
    color: #959595;
}
.laravel-footer a:hover {
    color: #f4645f;
    text-decoration: none;
}
.laravel-footer span {
    color: #505050;
}

.new-article {
    padding: 20px 0;
    border-bottom:1px dashed #505050 ;
}
.footer-two button {
    background-color: transparent;
}
.footer-two button {
    margin: 30px 0 70px;
    border: 1px solid #505050;
}

.footer-one,.footer-two,.footer-three {
    padding:0 45px;
}

/*copy*/
.copyright {
    background-color: #111;
    text-align: center;
}
.copyright a,.copyright span {
    color: #505050;
}
.mar {
   padding: 30px 0;
    font-size: 12px;
}
.jingic {
    border-left:1px solid  #505050;
    border-right:1px solid  #505050;
    padding:0 8px;
}
.pic {
    position: fixed;
    bottom:10px ;
    right:10px;
}
