#friend-link {
    font-size:18px;
    border: 1px lightgray solid;
    padding: 15px 0;
}


/*footer*/
#footer {
    width: 100%;
    background-color: #333333;
    padding: 35px 0 25px 0;
}
#footer a {
    text-decoration: none;
    color: white;
    font-size: 11px;
}
.tel {
    color: white;
    font-size: 11px;
}

.padding-bottom {
    padding-bottom: 7px;
}




