/*页面的头部和尾部的样式表*/

/*头部 登录*/
#header-login {
    background-color: #333333;

}

#header-login span,#header-login a {
    color: #ccc;
    font-size: 14px;
    line-height:30px;
}

/*搜索栏*/
#header-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    border-right: 1px grey solid;
    padding: 10px 20px 10px 10px;
    
    background:url("../images/jiao.jpg") no-repeat right;
    background-size: 10px;
    outline: none;


}

#header-select-input {
    border: none;
    outline: none;
    padding:10px 185px 10px 0;
}

#header-select-form {
    border: 2px solid red;
    height: 40px;
    width: 400px;
    box-sizing: border-box;
}

.city {
    color:#666;
    padding-left: 25px;
}

#header-select,#header-select-input,#php a{
    color: #666;
    font-size: 12px;
}

#php {
    padding: 9px;
    clear: both;
}

/*导航栏*/
#header-nav li {
    background-color: red;
    float: left;
    list-style: none;
    padding: 10px 25px;


}

#header-nav a {
    color: white;
    font-size: 15px;
}

#header-nav {
    background-color: red;
}

#header-nav li:hover {
    background-color: #cc0000;
}



